body{
    margin: 0px;
    padding: 0px;
}

.navlogo{
    height: 22px;
}

#bluenav{
    background-color: #005983;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #102438;
}

ul{
    display: inline-block;
    list-style-type: none;
    padding: 5px 0px;
}
ul li{
    font-size: 13.5px;
    display: inline;
    padding: 5px 10px;
    font-family: 'Open Sans,' sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: inline-block;
}
#herosection{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(images/graduation.jpg);
    background-size: cover;
}

#explorecchs{
    height: 400px;
    width: 100vw;
    background-color: #10243b;
}
#exploreheader{
    height: 100px;
    width: 100vw;
    text-align: center;
    color: white;
}
#exploresection{
    height: 300px;
    width: 100vw;
}
.explorebox{
    height: 300px;
    width: 24.5vw;
    display: inline-block;
    background-color: yellow;
}
#patriotplaza{
    background-image: url(images/patriots\ plaza.jpg);
    background-size: cover;
    background-position: center;
}
#college{
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
}
#ccnn{
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
}
#media{
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
}
